.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

#image-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
}

.gallery-item{
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.description-box{
  width: 350px;
  height: 240px;
  background-color: aliceblue;
  justify-items: center;
}

.description-area{
  display: grid;
  grid-template-columns: 1;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

button{
  width: 75%;
  margin: 5px;
  align-self: center;
}